.letter {
  background-color: var(--initial-color);
}

.rotating {
  animation: rotate 1s forwards;
}

@keyframes rotate {
  0% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0deg);
    background-color: var(--final-color);
  }
}